services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./python-server/src:/app/src

  express-server:
    image: node:18-alpine
    working_dir: /app
    ports:
      - 8001:8001
    volumes:
      - ./express-server:/app
    command: sh -c "npm install && npm run start"
