on:
  pull_request:
    branches:
      - main

jobs:
  wilco:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: Pr checks

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: postgres
          SECRET_KEY: secret
          POSTGRES_DB: anythink-market
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out project
        uses: actions/checkout@v2

      - name: Set up Docker latest
        run: |
          sudo apt-get update
          sudo apt-get remove docker docker-engine docker.io containerd runc -y
          sudo apt-get install docker-ce docker-ce-cli containerd.io -y
          docker --version

      - name: Use Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9.13"

      - uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Setup Node for Wilco Checks
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Wilco checks
        id: Wilco
        uses: trywilco/actions@main
        with:
          engine: ${{ secrets.WILCO_ENGINE_URL }}


